<div class="jumbotron jumbotron-fluid bg-dark text-light p-5">
  <h1>Overworkshop</h1>
</div>

<div class="container">


  {{#each postData}}

  <div class="card mb-3">
    
      <h5 class="card-header">{{title}}</h5>
      

    <div class="card-body">
      <p class="card-text">{{desc}}</p>

      <a href="#" class="card-link">{{link}}</a>
    </div>

      <img src="" class="card-img-top mx-2" alt="Image Not Uploaded">
      <br>


    <div class="votebox inline ml-3 mb-2">
      <div type="button" class="btn btn-outline-success voteUp" upVoteId={{id}} currentScoreUp={{score}}>nice</div>
      <div type="button" class="btn">{{score}}</div>
      <div type="button" class="btn btn-outline-danger voteDown" downVoteId={{id}} currentScoreDown={{score}}>shit</div>
    </div>

  </div>

  {{/each}}

</div>